<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kunminx.rxmagic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.kunminx.samples.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kunminx.samples.ui.OperatorsActivity"
            android:label="@string/operators" />
        <activity
            android:name="com.kunminx.samples.ui.networking.NetworkingActivity"
            android:label="@string/networking" />
        <activity
            android:name="com.kunminx.samples.ui.cache.CacheExampleActivity"
            android:label="@string/cache" />
        <activity
            android:name="com.kunminx.samples.ui.rxbus.RxBusActivity"
            android:label="@string/rx_bus" />
        <activity
            android:name="com.kunminx.samples.ui.pagination.PaginationActivity"
            android:label="@string/pagination" />
        <activity
            android:name="com.kunminx.samples.ui.search.SearchActivity"
            android:label="@string/search" />
        <activity
            android:name="com.kunminx.samples.ui.operators.SimpleExampleFragment"
            android:label="@string/simple" />
        <activity
            android:name="com.kunminx.samples.ui.operators.MapExampleFragment"
            android:label="@string/map" />
        <activity
            android:name="com.kunminx.samples.ui.operators.ZipExampleFragment"
            android:label="@string/zip" />
        <activity
            android:name="com.kunminx.samples.ui.operators.DisposableExampleFragment"
            android:label="@string/disposable" />
        <activity
            android:name="com.kunminx.samples.ui.operators.TakeExampleFragment"
            android:label="@string/take" />
        <activity
            android:name="com.kunminx.samples.ui.operators.TimerExampleFragment"
            android:label="@string/timer" />
        <activity
            android:name="com.kunminx.samples.ui.operators.IntervalExampleFragment"
            android:label="@string/interval" />
        <activity
            android:name="com.kunminx.samples.ui.operators.SingleObserverExampleFragment"
            android:label="@string/SingleObserver" />
        <activity
            android:name="com.kunminx.samples.ui.operators.CompletableObserverExampleFragment"
            android:label="@string/CompletableObserver" />
        <activity
            android:name="com.kunminx.samples.ui.operators.FlowableExampleFragment"
            android:label="@string/Flowable" />
        <activity
            android:name="com.kunminx.samples.ui.operators.ReduceExampleFragment"
            android:label="@string/reduce" />
        <activity
            android:name="com.kunminx.samples.ui.operators.BufferExampleFragment"
            android:label="@string/buffer" />
        <activity
            android:name="com.kunminx.samples.ui.operators.FilterExampleFragment"
            android:label="@string/filter" />
        <activity
            android:name="com.kunminx.samples.ui.operators.SkipExampleFragment"
            android:label="@string/skip" />
        <activity
            android:name="com.kunminx.samples.ui.operators.ScanExampleFragment"
            android:label="@string/scan" />
        <activity
            android:name="com.kunminx.samples.ui.operators.ReplayExampleFragment"
            android:label="@string/replay" />
        <activity
            android:name="com.kunminx.samples.ui.operators.ConcatExampleFragment"
            android:label="@string/concat" />
        <activity
            android:name="com.kunminx.samples.ui.operators.MergeExampleFragment"
            android:label="@string/merge" />
        <activity
            android:name="com.kunminx.samples.ui.operators.DeferExampleFragment"
            android:label="@string/defer" />
        <activity
            android:name="com.kunminx.samples.ui.operators.DistinctExampleFragment"
            android:label="@string/distinct" />
        <activity
            android:name="com.kunminx.samples.ui.operators.LastOperatorExampleFragment"
            android:label="@string/last" />
        <activity
            android:name="com.kunminx.samples.ui.operators.ReplaySubjectExampleFragment"
            android:label="@string/replay_subject" />
        <activity
            android:name="com.kunminx.samples.ui.operators.PublishSubjectExampleFragment"
            android:label="@string/publish_subject" />
        <activity
            android:name="com.kunminx.samples.ui.operators.BehaviorSubjectExampleFragment"
            android:label="@string/behavior_subject" />
        <activity
            android:name="com.kunminx.samples.ui.operators.AsyncSubjectExampleFragment"
            android:label="@string/async_subject" />
        <activity
            android:name="com.kunminx.samples.ui.operators.ThrottleLastExampleFragment"
            android:label="@string/throttle_last" />
        <activity
            android:name="com.kunminx.samples.ui.operators.DebounceExampleFragment"
            android:label="@string/debounce" />
        <activity
            android:name="com.kunminx.samples.ui.operators.WindowExampleFragment"
            android:label="@string/window" />
        <activity
            android:name="com.kunminx.samples.ui.operators.ThrottleFirstExampleFragment"
            android:label="@string/throttle_first" />
        <activity
            android:name="com.kunminx.samples.ui.operators.DelayExampleFragment"
            android:label="@string/delay" />
        <activity
            android:name="com.kunminx.samples.ui.compose.ComposeOperatorExampleActivity"
            android:label="@string/compose" />
        <activity
            android:name="com.kunminx.samples.ui.operators.SwitchMapExampleFragment"
            android:label="@string/switch_map" />

        <activity
            android:name="com.kunminx.samples.ui.operators.TakeWhileExampleFragment"
            android:label="@string/take_while" />

        <activity
            android:name="com.kunminx.samples.ui.operators.TakeUntilExampleFragment"
            android:label="@string/take_until" />
    </application>

</manifest>